menu "PR4 configuration"
    config QUEUE_SIZE
    int "The size of the queue events"
    range 1 20
    default 5

    config CHRONO_TIME
    int "Chronometer time in microseconds"
    range 100 10000000
    default 1000000

    config RESET_POLLING_TIME
    int "Reset polling time in microseconds"
    range 100 10000000
    default 10000

    config HALL_THRESHOLD
    int "Hall sensor threshold"
    default 0

    config TOUCH_THRESHOLD
    int "Touchpad threshold to launch the isr"
    range 0 1000
    default 200
endmenu