menu "PR2 configuration"
    config S1_MILLIS
    int "Number of milliseconds that sensor task 1 should sample"
    range 1 10000
    default 100

    config S2_MILLIS
    int "Number of milliseconds that sensor task 2 should sample"
    range 1 10000
    default 100

    config QUEUE_SIZE
    int "The size of the queue events"
    range 1 20
    default 5

    config TASK_INFO_DELAY
    int "Task information delay in seconds"
    range 1 100
    default 10

endmenu